[Unit]
Description=Sherkitty Full Node
After=network.target

[Service]
User=sherkitty
Group=sherkitty
WorkingDirectory=~
StateDirectory=sherkitty
LogsDirectory=sherkitty

Type=simple
ExecStart=/usr/bin/sherkittyd --config-file /etc/sherkittyd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
